[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = {extras = ["avro"], version = "*"}
faker = "*"
fastavro = "*"
requests = "*"
faust = "*"

[requires]
python_version = "3.7"

[dev-packages]
black = "*"
